.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #202020;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  flex-direction: column;
  transition: all 1.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quote-box {
  width: 550px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 5px 30px -5px #666;
}

.text {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 40px 50px 30px;
}

.text p {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  padding-top: 3px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.button, .link {
  outline: none;
  background-color: #202020;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  height: 38px;
  transition: all 1.5s ease;
}

.button:hover, .link:hover {
  opacity: 0.9;
}

.button {
  padding: 10px 18px;
  font-size: 14px;
}

.link {
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  font-size: 17px;
}

.fas {
  font-size: 25px;
  position: relative;
  bottom: 3px;
  margin-right: 10px;
}
